{% extends 'base.html.twig' %}

{% block body %}

    <div class="card my-card">
        <div class="card-body">
            <h2>Ligne hors forfait de l'utilisateur</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ficheFrais ID</th>
                    <th scope="col">LABEL</th>
                    <th scope="col">PRIX</th>
                    <th scope="col">ETAT</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ficheFrais.id }}</td>
                    <td>{{ ficheFrais.label }}</td>
                    <td>{{ ficheFrais.prix }} €</td>
                    <td>{{ ficheFrais.etat.label }}</td>

                </tr>


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}